doctype html
html
  head
    title Network Visualization Research: John Alexis Guerra Gómez
    meta(charset="utf-8")
    meta(name="description" content="Some research on photo visualization from John Alexis Guerra Gómez")
    meta(name="author" content="John Alexis Guerra Gomez")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.css" rel="stylesheet")
body
  div.content.container-fluid
    div.row
      div.col-md-1.col-sm-1

      div.col-md-8.col-sm-12
        h1 John Alexis Guerra Gómez

    div.row
      div.col-md-1
      div.col-md-3
        img(src="img/foto_JohnGuerra_2015.jpg" style="width:100%")
      div.col-md-5
        span(style="font-size:130%")
          :markdown-it
            John Alexis is a researcher, an entrepreneur and a dreamer.

            He is a **researcher** at [Los Andes University](https://imagine.uniandes.edu.co/) where he investigates novel information visualization techniques for [photos](http://johnguerra.co/photoviz.html), [networks](http://johnguerra.co/netviz.html) and [trees](https://treeversity.cattlab.umd.edu). He is also a lecturer at [UC Berkeley](https://www.ischool.berkeley.edu/people/john-alexis-guerra-gomez).  Previously, he worked at [Yahoo Labs](https://research.yahoo.com/) and [PARC](http://www.parc.com). He studied Information Visualization while pursuing his PhD at the [HCIL](http://hcil.cs.umd.edu) working with [Ben Shneiderman](http://www.cs.umd.edu/~ben/) and [Catherine Plaisant](http://hcil.umd.edu/catherine-plaisant/).

            As an **entrepreneur**, he co-founded [BTactile a search engine of images for the blind](http://btactile.com); he also [co-created a device to allow blind children to see colors and shapes with their hands](http://duto.co).

            He also likes to **dream** and build applications to generate insights using infovis such as: a [report of the most followed accounts by the online communities of Openvis](http://johnguerra.co/viz/influentials/openvisconf/) and [IEEEVIS](http://johnguerra.co/viz/influentials/ieeevis), a [visualization of the results of the Colombian peace referendum](http://johnguerra.co/viz/resultadosPlebiscito/) (and of the [2016 US elections](http://johnguerra.co/viz/USElections2016/)), a [tool to monitor who likes your Facebook the most](http://wholikesmyfb.com), or a [Twitter monitor for the 2014 Colombian presidential election](http://tweetometro.co) where he [uncovered more than 500 fake accounts](http://tweetometro.co/robots_May25.html). He has also created open source libraries for [in-browser network clustering](https://github.com/john-guerra/netClusteringJs) and to [distribute clusters on a network visualization using the group-in-a-box technique](https://github.com/john-guerra/forceInABox).



          //- John Alexis is a researcher, an entrepreneur, and a dreamer.

          //- He is a researcher at Los Andes University where he investigates novel information visualization techniques for photos, networks, and trees at Los Andes University. He is also a remote lecturer at UC Berkeley. Previously, he worked at Yahoo Labs and PARC. He studied Information Visualization while pursuing his PhD at the HCIL working with Ben Shneiderman and Catherine Plaisant.

          //- As an entrepreneur, he co-founded BTactile a search engine of image graphics for the blind; he also co-created a device to allow blind children to see colors and shapes with their hands.

          //- He also likes to dream and build applications to generate insights using infovis such as: a report of the most followed accounts by the online communities like Openvis or IEEEVIS, a visualization of the results of the Colombian peace referendum (and of the 2016 US elections), a tool to monitor who likes your Facebook the most, or a Twitter monitor for the Colombian presidential election where he uncovered more than 500 fake accounts. He has also created open source libraries for in-browser network clustering and to distribute clusters on a network visualization using the group-in-a-box technique.