doctype html
html
  head
    title Network Visualization Research: John Alexis Guerra Gómez
    meta(charset="utf-8")
    meta(name="description" content="Some research on photo visualization from John Alexis Guerra Gómez")
    meta(name="author" content="John Alexis Guerra Gomez")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.css" rel="stylesheet")
body
  div.content.container-fluid
    div.row
      div.col-md-1.col-sm-1

      div.col-md-8.col-sm-12
        h1 Network Visualization Research