doctype html
html
  head
    title Photo Visualization: John Alexis Guerra Gómez
    meta(charset="utf-8")
    meta(name="description" content="Some research on photo visualization from John Alexis Guerra Gómez")
    meta(name="author" content="John Alexis Guerra Gomez")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="css/bootstrap.css" rel="stylesheet")
body
  h1 Photo Visualization