doctype html
html
  head
    title ISIS 4822 : Visual Analytics Final Projects
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="../../css/bootstrap.css" rel="stylesheet")
    style.
      .project {
        height: 600px;
        overflow: scroll;
      }
      .project .description {
        font-size: 90%;
      }
      img.project-thumb {
        width: 100%;
        margin-bottom: 5px;
      }
      .topic h2 {
        margin-bottom: 20px;
      }
      .project_url, .project_demo {
        margin: 5px;
      }
      .intro {
        font-size: 130%;
      }
body
  div.content.container-fluid
    div.row
      div.col-md-12.col-sm-12
        h1 Final Class Projects
          a(href="http://johnguerra.co/classes/isis_4822_fall_2016/")  Visual Analytics Course

      div.col-md-8.col-sm-12.intro
        p This is a list of the final projects on this class. Each group was tasked to develop a Visual Analytics tool to help solve a #[strong real] problem from a #[strong real] user. The students successfully worked through the problems of obtaining and cleaning real data, and more importantly extracting real value from them.
        p Here is a list of the projects grouped by topics:

      div.col-md-12.col-sm-12
        div#projects

    div.row
      div.col-md-12.col-sm-12
        h3 Presentations

        h4 Schedule
        :markdown-it(linkify langPrefix='highlight-')
          | Time    | Group    | Project   |
          | ------  | ------   | -----     |
          | 6:00 PM  |  | Introduction |
          | 6:13 PM  | 3 |Visualization of market data BVC |
          | 6:26 PM  | 7 |Tools to Enjoy the Election Data From Colombia Since 1958 |
          | 6:39 PM  | 2 |Colombian Cinema |
          | 6:52 PM  | 5 |Dashboard de Desempeño y Actividades para el control y seguimiento de los Proyectos. |
          | 7:05 PM  | 6 |Web Analytics Visualization |
          | 7:18 PM  | 10 | Visual Analysis of the Satisfaction Survey (ESAT) |
          | 7:31 PM  | | Break |
          | 7:50 PM  | 4 |Visualization for public transport data in Bahía Blanca, Argentina |
          | 8:03 PM  | 9 |Incident Managment: Recaudo Bogotá |
          | 7:50 PM  | 1 |Visualization of world happiness report: an interactive approach. |
          | 8:03 PM  | 8 |TrackCA |
          | 8:36 PM  | 11 | Visual Analytics aplicated to growth of preterm infants in his first year of life |

        h4 Streaming/Video
        span.
          <iframe width="853" height="480" src="https://www.youtube.com/embed/Yh-dPmrO_NM?rel=0" frameborder="0" allowfullscreen></iframe>


        script(src="https://d3js.org/d3.v4.min.js")

        script(src="../../js/jquery-1.12.1.min.js")
        script(src="../../js/bootstrap.min.js")
        script(type="text/javascript", src="./tabletop.js")
        script.
          var urlHtml = "1XU5AzI2BrtmtWgbnAKhO9WbCu6LhAtzyOzGBcKpQxnI";
          var container = d3.select("#projects");



          function update(data) {
            //- <div class="panel panel-default">
            //- <div class="panel-heading">
            //-   <h3 class="panel-title">Panel title</h3>
            //- </div>
            //- <div class="panel-body">
            var nested_data = d3.nest()
              .key(function (d) { return d["Tipo"]; })
                .sortKeys(function (a, b) {
                  return a === "Others" ?
                    1 :
                    b === "Others" ?
                      -1 :
                      d3.ascending(a, b);


                })
              .entries(data);

            var topics = container.selectAll(".topic")
              .data(nested_data)
                .enter()
                  .append("div")
                  .attr("class", "topic row col-sm-12")

            topics.append("h2")
              .text(function (d) { return d.key; })

            var projs = topics.selectAll(".project")
              .data(function (d) { return d.values; })
                .enter()
                  .append("div")
                    .attr("class", "col-sm-4")
                  .append("div")
                    .attr("class", "project panel panel-default");

            projs
              .append("div")
                .attr("class", "panel-heading")
              .append("h3")
                .attr("class", "panel-title")
                .append("a")
                  .attr("href" , function (d) {
                    return d["URL repositorio"];
                  })
                  .attr("target", "_blank")
                .text(function (d) { return d["Nombre Proyecto"]; });

            var body = projs.append("div")
              .attr("class", "panel-body");
            body
              .append("a")
              .attr("href", function (d) { return d["URL del demo del proyecto"]; })
                .attr("target", "_blank")
                .append("img")
                .attr("class", "project-thumb")
                  .attr("src", function (d) { return d["URL de una imagen portada del proyecto"]; });
            body.append("a")
              .attr("class", "project_url btn btn-sm btn-default")
              .attr("href", function (d) { return d["URL repositorio"]; })
              .attr("target", "_blank")
              .text("GitHub");
            body.append("a")
              .attr("class", "project_demo btn btn-sm btn-primary")
              .attr("href", function (d) { return d["URL del demo del proyecto"]; })
              .attr("target", "_blank")
              .text("Demo");
            body.append("a")
              .attr("class", "project_demo btn btn-sm btn-success")
              .attr("href", function (d) { return d["URL del video"]; })
              .attr("target", "_blank")
              .text("Video");



            body.append("h4").text("Description");
            body.append("p")
              .attr("class", "description")
                .text(function (d) { return d["Párrafo de descripción del proyecto"]; });

            body.append("h4").text("Members");
            body.append("div")
              .attr("class", "student")
              .append("a")
              .attr("href", function (d) { return d["Github o Homepage  Integrante 1"]})
              .attr("target", "_blank")
                .text(function (d) { return d["Nombre Integrante 1"]; });
            body.append("div")
              .attr("class", "student")
              .append("a")
              .attr("href", function (d) { return d["Github o Homepage  Integrante 1"]})
              .attr("target", "_blank")
                .text(function (d) { return d["Nombre Integrante 2"]; });
            body.append("div")
              .attr("class", "student")
              .append("a")
              .attr("href", function (d) { return d["Github o Homepage  Integrante 1"]})
              .attr("target", "_blank")
                .text(function (d) { return d["Nombre Integrante 3"]; });


            body.append("h5")
              .text(function (d) { return "Group Number " + d["Número de grupo"]; })
          }

          function preProcess(data) {
            var dictGroups = {};
            data.forEach(function (d) {
              dictGroups[d["Número de grupo"]]=d;
            })
            return d3.values(dictGroups);
          }

          function updateFromGSheet(data) {
            var procData = preProcess(data);
            update(procData);
          }

          function init() {
            Tabletop.init( { key: urlHtml,
                             callback: updateFromGSheet,
                             simpleSheet: true } )
          }

          // Update from csv
          //- d3.csv("projects.csv", function (error, data) {
          //-   if (error) throw error;
          //-   var procData = preProcess(data);
          //-   update(procData);
          //- });

          // Update from googleSheets
          window.onload = function() { init() };
          d3.select("table").attr("class", "table");



        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-72531610-1', 'auto');
          ga('send', 'pageview');







