doctype html
html
  head
    title ISIS 4822 : Visual Analytics Project form
    meta(charset="utf-8")
    link(href="../../css/bootstrap.css" rel="stylesheet")

  body
    p Redirecting to 
      a(href="https://docs.google.com/forms/d/e/1FAIpQLSdhWQHLmbKqgzVT6RROUfkwXQAS4XOSDy4T-9oaOkA3GZidfA/viewform") https://docs.google.com/forms/d/e/1FAIpQLSdhWQHLmbKqgzVT6RROUfkwXQAS4XOSDy4T-9oaOkA3GZidfA/viewform


    script.
      window.location = "https://docs.google.com/forms/d/e/1FAIpQLSdhWQHLmbKqgzVT6RROUfkwXQAS4XOSDy4T-9oaOkA3GZidfA/viewform";
