.project {
	height: 180px;
}

.description {
	text-align: center;
	font-size: 110%;
	font-weight: bold;
	height: 50px;

}
.description2 {
	text-align: center;
}

.description2 a {
	font-size: 90%;
	padding: 5px;
}

.project-thumb {
	width:95%;
	text-align: center;
	max-width:80px;
	min-width:20px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.project-thumb img {
	width: 80px;
	height: 80px;
}

